@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

:root {
    --primary-color :#475569;
    --secondary-color :white;
}


body {
    background-color: var(--secondary-color);
    text-align: center;
    margin: 0px;
    font-family: 'Playfair Display', serif;
    font-size: 1.32rem;
}

.container {
    padding: 1rem;
    margin: auto;
    max-width: 750px;
    
}

.navbar {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.navbar-menu {
    align-self: flex-end;
}

a + a {
    margin-left: 1rem;
}

header {
    background-color: var(--primary-color);
    padding: 1rem;
    color: white;
}

.quiz-form {
    margin:1rem auto;
    padding: 1rem;
    width: 50rem;
    color: white;
    background-color: var(--primary-color);
    border-radius: 7px;
    text-align: justify;
}

.input-labels {
    text-align: left;
}

button {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 1rem;
    border-radius: 10px;
    padding: .5em;
    margin: 1rem auto;
    width: 7em;
}

button:hover {
    opacity: .75;
    font-weight: bold;
}

.output-display {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

.menu-items-2 {
    padding: .5rem;
    border-bottom: 2px solid;
    font-weight: bold;
    color: white;
}

a:hover, a:active {
    font-weight: bold;
    color: white;
}
